header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px 0;
	text-align: center;
	font-family: fantasy;
	font-weight: bold;
	background-color: #B89090;
}

.playerScore {
	float: left;
	background-color: white; 
	padding: 10px 5px;
}

.computerScore {
	float: right;
	background-color: white; 
	padding: 10px 5px;

}

.content {
	display: block;
	position: relative;
	margin-top: 70px;
	text-align: center;
}


.results {
	font-family: arial;
	font-weight: lighter;
}