@font-face {
    font-family: "Archistico";
    src: url("fonts/Archistico_Simple.ttf");
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.content {
    background-color: #EEE;
    border: 5px solid black;
    border-radius: 10%;
    display: grid;
    grid-template-areas:
        " title title title title title "
        " pl-sc pl-sc sc-divisor en-sc en-sc "
        " pl-sc pl-sc .......... en-sc en-sc "
        " . bt-dis bt-dis bt-dis . "
        " . rock-btn paper-btn scissors-btn . "
        " round-btn . new-btn . rules-btn ";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr;
    gap: 10px;
    max-height: 500px;
    max-width: 600px;
    min-width: 500px;
    height: 75%;
    margin: 0 auto;
    width: 75%;
    justify-items: center;
    align-content: space-evenly;
    padding: 25px 15px;

}

.title {
    font-family: fantasy;
    font-size: 2.5em;
    /* font-weight: bold; */
    grid-area: title;
    font-family: "Archistico";
    border-bottom: 1px dotted rgba(0, 0, 0, 0.6);

}


.pl-sc {
    grid-area: pl-sc;
    font-size: 2.5em;
    align-self: center;
    justify-self: center;
    font-family: "Archistico";
}

.sc-divisor {
    grid-area: sc-divisor;
}

.en-sc {
    grid-area: en-sc;
    font-size: 2.5em;
    align-self: center;
    font-family: "Archistico";

}



.pl-choice {
    grid-area: pl-choice;
}

.en-choice {
    grid-area: en-choice;
}

.bt-divisor {
    grid-area: bt-divisor;
}

.battle-display {
    border: 1px solid grey;
    box-shadow: 1px 1px 1px grey;  
    font-family: "Helvetica", sans-serif;
    grid-area: bt-dis;
    justify-self: stretch;
    text-align: center;
}

.rock-btn {
    grid-area: rock-btn;
    background-image: url("images/stone.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.paper-btn {
    grid-area: paper-btn;
    background-image: url("images/papyrus.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.scissors-btn {
    grid-area: scissors-btn;
    background-image: url("images/scissors2.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}


.round-btn {
    grid-area: round-btn;

}

.new-btn {
    grid-area: new-btn;
}

.rules-btn {
    grid-area: rules-btn;
}

.btn {
    align-self: center;
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    font-family: "Archistico";
    font-weight: bold;
    justify-self: center;
    height: 85px;
    opacity: 0.8;
    /* margin-top: 2px; */
    padding-top: 30px;
    text-align: center;
    width: 85px;

}






/* 
.header {
    background-color: #B89090;
    height: 25%;
    width: 100%;
}


.scoreStyle {
    background-color: #D57F7F;
    padding: 15px 25px;
    opacity: 0.75;

}


.gameplay {
    margin-bottom: 15px;
    font-family: arial;
}

.hidden {
    display: none;
    /*margin-top: 250px;*/
}


.playerselection {
    /*display: hidden;*/
}

.results {
    font-family: arial;
    font-weight: lighter;
}