@font-face {
    font-family: "Archistico";
    src: url("fonts/Archistico_Simple.ttf") format("truetype");
}

@font-face {
    font-family: "Luckiest Guy";
    src: url('fonts/LuckiestGuy-Regular.ttf') format("truetype");
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.content {
    background-color: #EEE;
    border: 5px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 10px grey;
    border-radius: 5%;
    display: grid;
    grid-template-areas:
        " title title title title title "
        " pl-sc pl-sc sc-divisor en-sc en-sc "
        " pl-sc pl-sc sc-divisor en-sc en-sc "
        " pl-ch bt-dis bt-dis bt-dis en-ch "
        " . rock-btn paper-btn scissors-btn . "
        " round-btn .. new-btn .. rules-btn ";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr;
    gap: 10px;
    max-height: 500px;
    max-width: 600px;
    min-width: 600px;
    height: 75%;
    margin: 0 auto;
    width: 75%;
    justify-items: center;
    align-content: space-evenly;
    opacity: 0.8;
    padding: 25px 15px;

}

.title {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.6);
    font-family: "Archistico";
    font-size: 2.5em;
    /* font-weight: bold; */
    grid-area: title;
    text-align: center;
}



.pl-sc {
    /* color: red; */
    grid-area: pl-sc;
    font-size: 2.5em;
    align-self: center;
    justify-self: center;
    font-family: "Archistico";
}

.sc-divisor {
    grid-area: sc-divisor;
    margin-top: 25px;
}

.en-sc {
    grid-area: en-sc;
    font-size: 2.5em;
    align-self: center;
    font-family: "Archistico";

}

.rock-img {
    background-image: url("images/stone.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;

}

.paper-img {
    background-image: url("images/papyrus.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;

}

.scissors-img {
    background-image: url("images/scissors2.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;

}

.pl-ch {
    grid-area: pl-ch;


}

.en-ch {
    grid-area: en-ch;
}

.result-style {
    font-family: "Luckiest Guy";
    font-size: 2em;


}

.win-lose-ind {
    height: 50%;
    width: 40px;
}

.win-lose-right {
    position: relative;
    float: right;
    background-color: red;
}

.win-lose-left {

    position: relative;
    float: left;
    background-color: green;

}


.battle-display {
    /* border-top: 1px solid grey;
    border-bottom: 1px solid grey;*/
    align-self: stretch;
    box-shadow: 0px 1px 5px grey;
    grid-area: bt-dis;
    justify-self: stretch;
    text-align: center;
}

.battle-display h2 {
    font-family: "Luckiest Guy", cursive;
    font-size: 1.3em;
    margin-top:  25px;
}

.btn-s {
    align-self: center;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    font-family: "Archistico";
    font-size: 1em;
    font-weight: bold;
    justify-self: center;
    height: 55px;
    opacity: 0.8;
    padding-top: 30px;
    text-align: center;
    width: 55px;

}

.rock-btn {
    grid-area: rock-btn;
    background-image: url("images/stone.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.paper-btn {
    grid-area: paper-btn;
    background-image: url("images/papyrus.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.scissors-btn {
    grid-area: scissors-btn;
    background-image: url("images/scissors2.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}


.round-btn {
    grid-area: round-btn;

}

.new-btn {
    grid-area: new-btn;
}

.rules-btn {
    grid-area: rules-btn;
}

.btn {
    align-self: center;
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    font-family: "Archistico";
    font-size: 1em;
    font-weight: bold;
    justify-self: center;
    height: 85px;
    opacity: 0.8;
    padding-top: 30px;
    text-align: center;
    width: 85px;

}

.btn:hover {
    align-self: center;
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    font-family: "Archistico";
    font-size: 1em;
    font-weight: bold;
    justify-self: center;
    height: 85px;
    opacity: 0.8;
    padding-top: 28px;
    text-align: center;
    width: 85px;
}




.hidden {
    visibility: hidden;


}




/* 
.header {
    background-color: #B89090;
    height: 25%;
    width: 100%;
}


.scoreStyle {
    background-color: #D57F7F;
    padding: 15px 25px;
    opacity: 0.75;

}


.gameplay {
    margin-bottom: 15px;
    font-family: arial;
}

.hidden {
    display: none;
    /*margin-top: 250px;*/
/* } */